<div>
    <h2 translate="petcareApp.place.home.title">Places</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="place.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
class="hidden-xs"                        translate="petcareApp.place.home.createLabel">Create new Place
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="{{ 'petcareApp.place.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="search()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span translate="petcareApp.place.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span translate="petcareApp.place.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="address"><span translate="petcareApp.place.address">Address</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="city"><span translate="petcareApp.place.city">City</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="hasGarden"><span translate="petcareApp.place.hasGarden">HasGarden</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="hasPatio"><span translate="petcareApp.place.hasPatio">HasPatio</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="building"><span translate="petcareApp.place.building">Building</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="petSitter.id"><span translate="petcareApp.place.petSitter">petSitter</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="place in places track by place.id">
                    <td><a ui-sref="place.detail({id:place.id})">{{place.id}}</a></td>
                    <td>{{place.name}}</td>
                    <td>{{place.description}}</td>
                    <td>{{place.address}}</td>
                    <td>{{place.city}}</td>
                    <td>{{place.hasGarden}}</td>
                    <td>{{place.hasPatio}}</td>
                    <td>{{place.building}}</td>
                    <td>
                        <a ui-sref="petSitter.detail({id:place.petSitter.id})">{{place.petSitter.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="place.detail({id:place.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="place.edit({id:place.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="place.delete({id:place.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <uib-pager total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pager>
</div>
