
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myReviewLabel" translate="petcareApp.review.home.createOrEditLabel">Create or edit a Review</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="review.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="petcareApp.review.rating" for="field_rating">Rating</label>
            <input type="number" class="form-control" name="rating" id="field_rating"
                    ng-model="review.rating"
                    required min="0" max="5" />
            <div ng-show="editForm.rating.$invalid">
                <p class="help-block"
                    ng-show="editForm.rating.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.rating.$error.min" translate="entity.validation.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.rating.$error.max" translate="entity.validation.max" translate-value-max="5">
                    This field cannot be more than 5.
                </p>
                <p class="help-block"
                    ng-show="editForm.rating.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="petcareApp.review.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="review.description"
                    required />
            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                    ng-show="editForm.description.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="petcareApp.review.creationMoment" for="field_creationMoment">CreationMoment</label>
            <input type="datetime-local" class="form-control" name="creationMoment" id="field_creationMoment"
                    ng-model="review.creationMoment"
                    required />
            <div ng-show="editForm.creationMoment.$invalid">
                <p class="help-block"
                    ng-show="editForm.creationMoment.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.creationMoment.$error.ZonedDateTimelocal" translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="petcareApp.review.reviewer" for="field_reviewer">reviewer</label>
            <select class="form-control" id="field_reviewer" name="reviewer" ng-model="review.reviewer" ng-options="petOwner as petOwner.id for petOwner in petowners track by petOwner.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="petcareApp.review.reviewed" for="field_reviewed">reviewed</label>
            <select class="form-control" id="field_reviewed" name="reviewed" ng-model="review.reviewed" ng-options="supplier as supplier.id for supplier in suppliers track by supplier.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
