<div>
    <h2 translate="petcareApp.complaint.home.title">Complaints</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="complaint.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
class="hidden-xs"                        translate="petcareApp.complaint.home.createLabel">Create new Complaint
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="{{ 'petcareApp.complaint.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="search()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="title"><span translate="petcareApp.complaint.title">Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span translate="petcareApp.complaint.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="resolution"><span translate="petcareApp.complaint.resolution">Resolution</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span translate="petcareApp.complaint.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="creationMoment"><span translate="petcareApp.complaint.creationMoment">CreationMoment</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="administrator.id"><span translate="petcareApp.complaint.administrator">administrator</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="customer.id"><span translate="petcareApp.complaint.customer">customer</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="complaint in complaints track by complaint.id">
                    <td><a ui-sref="complaint.detail({id:complaint.id})">{{complaint.id}}</a></td>
                    <td>{{complaint.title}}</td>
                    <td>{{complaint.description}}</td>
                    <td>{{complaint.resolution}}</td>
                    <td>{{complaint.status}}</td>
                    <td>{{complaint.creationMoment | date:'medium'}}</td>
                    <td>
                        <a ui-sref="administrator.detail({id:complaint.administrator.id})">{{complaint.administrator.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="customer.detail({id:complaint.customer.id})">{{complaint.customer.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="complaint.detail({id:complaint.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="complaint.edit({id:complaint.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="complaint.delete({id:complaint.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <uib-pager total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pager>
</div>
